{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <h2>{{ article.title }}</h2>
    <div>{{ article.text }}</div>
    <i>Автор: {{ article.author }}</i>
    <br>
    <b> Понравилось: {{ article.likes }}
        <br>
    Прочитало: {{ article.readers.count }}</b>
    <ul>
    {% for reader in article.readers.all %}
        <li>{{ reader }}</li>
    {% endfor %}
    </ul>   
    <hr>
        <a href="{% url 'edit-article' article.id %}" 
        class="btn btn-lg btn-warning">
            Редактировать статью
        </a>
    <br><br>
    <form method="POST">
        {% csrf_token %}
        <button name="delete_btn"
            class="btn btn-lg btn-danger">
                Удалить статью
        </button>  
    </form> 
    <hr>
    <h3>Добавить комментарий</h3>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button name="add_comment_btn" 
        class="btn btn-lg btn-info">Добавить</button>
    </form>
    <hr>
    <h3>Все комментарии:</h3>
    <b>Всего коммертариев: {{ article.comments.count }}</b>
    <br> <br>
    {% for comment in article.comments.all %}
        <p>Комментарий: {{ comment.text }}</p>
        <i>Автор: {{ comment.user }}</i>
        <br><br>
            <a href="{% url 'edit-comment' comment.id %}" 
                class="btn btn-lg btn-warning">
                    Редактировать комментарий
            </a>
            <br><br>
            <form action="{% url 'delete-comment' comment.id %}" method="POST">
                {% csrf_token %}
                <button 
                    class="btn btn-lg btn-danger">
                        Удалить комментарий
                </button>  
<hr>
    {% endfor %}

    </form> 
{% endblock %}