{% extends 'base.html' %}

{% block content %}

    <h2>Статьи:</h2>
    <hr>
    {% for art in articles %}
        <div><h3>{{ art.title }}</h3></div>
        <div>{{ art.text }}</div>
        <br>
        <i>Автор: {{ art.author }}</i>
        <br>
        <b>Прочитано: {{ art.readers.count }}</b>
        <hr>
    {% endfor %}
    <hr>
    <hr>
    <hr>
    <ol>
        {% for article in lst_authour.articles.all %}
            <li>{{ article.title }} - <i> статьи автора {{ lst_authour }}</i></li>
        {% endfor %}
</ol>
{% endblock %}